*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Libre Caslon Text", serif;;
}

.home{
    width: 100%;
    height: 100vh;
    background-image: url(pics/Kingsman/ktss-hh-chstp-cl0-collection.jpg);
    background-size:cover;
}

.logo{
    height: px ;
    font-size: 15px;
    padding: 0px 15px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo img{
    width: 18%;
    padding-top: 30px;
}

nav{
    flex: 1;
    text-align: right;

}

nav ul{
    display: inline-block;
    list-style-type: none;
    display: flex;
    margin-left: 400px;
}

nav ul li {
    display: inline-block;
    margin-right: 70px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

p{
    color: white;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    margin-top: 150px;
    font-size: 210%
    
}

.col-2{
 margin-right: 300px;
 

}

.cpl-2 image{

    
        /* background-image: url("images/Baby\ Yoda.jpg"); Temp Pic
        height: 90vh;
        width: 100%;
        background-position: top 25% right 0;
        background-attachment: cover;
        padding: 0 80px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column; */




}

.btn {
    display: inline-block;
    background: #c49301;
    color: white;
    padding: 8px, 30px;
    margin-top: 25px;
    margin-left: 0;
    border-radius: 30px;
    text-decoration: none;
    font-size: 60%; 
}

.col-2 a{
padding: 10px 35px;